<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div id = "nav">
                <button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                <button class = "nav-button" onclick="chooseOption('employees')">Zarządzaj pracownikami</button>
                <button class = "nav-button" onclick="chooseOption('sections')">Zarządzaj sekcjami</button>
            </div>
            <div class="container">
                <h1>Zarządzanie pracownikami</h1>

                <div id="endpoint-card">

                </div>
            
                
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                 async function chooseOption(type)
                {
                    position = "{{session.get('position', '')}}"
                    chooseOpt(type,position)
                }
                async function fireEmployee(employeeId) {
                   if (!confirm(`Zwolnić pracownika?`)) return;
            try {
    
                  const response = await fetch(`/api/employees/${employeeId}`, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json'
            }
        }); 
                if (response.ok) {
                    const result = await response.json();
                    generateContent();
                }
            } catch (error) {
                console.error('Błąd:', error);
            }

                }
                async function generateContent() {
                    try {

                        const response = await fetch(`/api/employees/`, {method: "GET"});
                        const result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {
                            block+="<div class='team-box'><p>Imię i nazwisko: "+result[i].first_name+" "+result[i].last_name+"</p><p>STANOWISKO: "+result[i].position+"</p><p>PESEL: "+result[i].pesel+"</p><p>Numer telefony: "+result[i].phone
                            if(result[i].fire_date == null)
                            block+="</p><p>Data zatrudnienia: "+result[i].hire_date+"</p><p>Data zwolnienia: ------</p>";
                            else
                            block+="</p><p>Data zatrudnienia: "+result[i].hire_date+"</p><p>Data zwolnienia: "+result[i].fire_date+"</p>";
                            block+="<button onclick='fireEmployee("+result[i].id+")'>Zwolnij pracownika</button></div>";
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>