<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div id = "nav">
                <button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                <button class = "nav-button" onclick="chooseOption('employees')">Zarządzaj pracownikami</button>
                <button class = "nav-button" onclick="chooseOption('sections')">Zarządzaj sekcjami</button>
            </div>
            <div class="container">
                <h1>Zarządzanie sekcjami</h1>

                <div id="endpoint-card">

                </div>
                <div id = "section"><button onclick='addSection()'>Dodaj sekcję</button></div>
                
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                 async function chooseOption(type)
                {
                    position = "{{session.get('position', '')}}"
                    chooseOpt(type,position)
                }
                async function redirect(type, id) {
                    saveSingleValue("sectionid", id)
                    if(type=="section")
                        location.href = `/section-teams`;
                    if(type=="task")
                        location.href = `/section-tasks`;
                }
                async function addSection() {
                response = await fetch(`/api/employees/`, {method: "GET"});
                result = await response.json();
                block = "<select style='width: 100%; padding: 5px' size = '5' name = 'tasks' id = 'sectionManager'>"
                for (i = 0; i<result.length; i++)
                {
                    block+="<option>"+result[i].first_name+" "+result[i].last_name+"</option>"
                }
                block += "</select>"
                const modal = document.createElement('div');
                modal.className = "background-alert";
                
                const form = document.createElement('div');
                form.className = "form-alert";
                form.innerHTML = `
                    <h3 style="margin-top: 0;">Dodaj sekcję</h3>
                    <div style="margin-bottom: 10px;">
                        <label>Nazwa zespołu:</label><br>
                        <input type="text" id="sectionName" style="width: 100%; padding: 5px;">
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label>Manager sekcji:</label><br>
                        ${block}
                    </div>
                    <div style="display: flex; gap: 10px; margin-top: 20px;">
                        <button onclick="closeQuickForm()"">Anuluj</button>
                        <button onclick="submitQuickForm()" class = "button-green">Zapisz</button>
                    </div>
                `;
                
                modal.appendChild(form);
                document.body.appendChild(modal);
                

                window.closeQuickForm = function() {
                    document.body.removeChild(modal);
                };
                window.submitQuickForm = async function() {
                    const name = document.getElementById('sectionName').value;
                    const manager = document.getElementById('sectionManager').value.split(" ");
                    if (!name || !manager) {
                        alert('Wypełnij wszystkie pola!');
                        return;
                    }
                    response = await fetch(`/api/employees/`, {method: "GET"});
                    result = await response.json();
                    for (i = 0; i<result.length; i++)
                    {
                        if(result[i].first_name == manager[0] && result[i].last_name == manager[1])
                        {
                        manager_id = result[i].id
                        }
                    }
                    
                    try {
                        const response = await fetch('/api/sections/', {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify({name: name, manager_id: manager_id})
                            });
                        
                        if (response.ok) {
                            alert('Dodano sekcję!');
                            generateContent()
                            closeQuickForm();
                        } else {
                            alert('Błąd dodawania.');
                        }
                    } catch (error) {
                        alert('Błąd sieci.');
                    }
                };
                    modal.addEventListener('keydown', function(e) {
                        if (e.key === 'Escape') closeQuickForm();
                    });
                }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    try {

                        const response = await fetch(`/api/sections/`, options);
                        const result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {
                            block+="<div class='team-box'><p>Id sekcji: "+result[i].id+"</p><p>Nazwa sekcji: "+result[i].name+"</p>";
                            block+="<button onclick='redirect(`task`,"+result[i].id+")'>Zarządzaj zadaniami</button><button onclick='redirect(`section`,"+result[i].id+")'>Zarządzaj sekcją</button></div>";
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>