<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body>
            <div id = "nav">
                <button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
            </div>
            <div class="container">
                <h1>Panel pracownika</h1>
                
                <div class="endpoint-card">
                    <div class="box">
                        <h3>Witaj w panelu głównym pracownika!</h3>
                        <button class = "nav-button" onclick="chooseOption('logout')">Wyloguj się</button>
                    </div>
                </div>
                
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                 async function chooseOption(type)
                {
                    position = "{{session.get('position', '')}}"
                    chooseOpt(type,position)
                }
            
            </script>
        </body>
        </html>