<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
            
        </head>
        
        <body onload="generateContent(), generateNav()">
            <div id = "nav">
            </div>
            <div class="container">
                <h1>Twoje dane</h1>
                <div id="endpoint-card-small"></div>
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                async function generateNav() {
                    position = "{{session.get('position', '')}}"
                    genNav(position);
                }
                async function chooseOption(type)
                {
                    position = "{{session.get('position', '')}}"
                    chooseOpt(type,position)
                }
                async function generateContent() {
                    try {
                        
                        id = "{{session.get('myid', '')}}"
                        const response = await fetch(`/api/employees/employee/${id}`, {method: "GET"});
                        const result = await response.json();
                        
                            block="<div class='box'><p>Imię i nazwiako: "+result[0].first_name+" "+result[0].last_name+"</p><p>PESEL: "+result[0].pesel+"</p><p>Nr telefonu: "+result[0].phone+"</p><p>Stanowisko: "+result[0].position+"</p><p>Data zatrudnienia: "+result[0].hire_date+"</p></div>";
                        
                        const responseDiv = document.getElementById('endpoint-card-small');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
            
        </body>
        </html>