<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent(), genNav()">
            <div id = "nav">
            </div>
            <div class="container">
                <h1>Zadania użytkownika</h1>

                <div id="endpoint-card">
                </div>
            </div>
            
            <script>
               async function genNav()
                {
                    nav = document.getElementById("nav")
                    position = "{{session.get('position', '')}}"
                    if (position == "employee")
                    nav.innerHTML = `<button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>`
                    else if (position == "teamManager")
                    nav.innerHTML = `<button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                <button class = "nav-button" onclick="chooseOption('employee-task')">Wyświetl zadania pracowników</button>
                <button class = "nav-button" onclick="chooseOption('team-task')">Wyświetl zadania zespołu</button>
                <button class = "nav-button" onclick="chooseOption('team')">Zarządzaj zespołem</button>`
                else if (position == "sectionManager")
                    nav.innerHTML = `<button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                <button class = "nav-button" onclick="chooseOption('section-task')">Wyświetl zadania sekcji</button>
                <button class = "nav-button" onclick="chooseOption('section')">Zarządzaj sekcją</button>`
                else if (position == "studioHead")
                    nav.innerHTML = `<button class = "nav-button" onclick="chooseOption('main')">Główna strona</button>
                <button class = "nav-button" onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                <button class = "nav-button" onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                <button class = "nav-button" onclick="chooseOption('employees')">Zarządzaj pracownikami</button>
                <button class = "nav-button" onclick="chooseOption('sections')">Zarządzaj sekcjami</button>`
                }
                    async function chooseOption(type) {
                    if (type == 'main')
                    {
                        if ("{{session.get('position', '')}}" == "employee")
                        location.href =`/employee`;
                        else if ("{{session.get('position', '')}}" == "teamManager")
                        location.href =`/team-manager`;
                        else if ("{{session.get('position', '')}}" == "sectionManager")
                        location.href =`/section-manager`;
                        else if ("{{session.get('position', '')}}" == "studioHead")
                        location.href =`/chief`;
                    }
                    if (type == 'data')
                    {
                        location.href =`/your-data`;  
                    }
                    if (type == 'task')
                    {
                      location.href =`/your-tasks`;  
                    }
                    if (type == 'employee-task')
                    {
                        location.href =`/team-employees/tasks`;   
                    }
                    if (type == 'team-task')
                    {
                        location.href =`/team-tasks`;  
                    }
                    if (type == 'team')
                    {   
                        location.href =`/team-employees`; 
                    }
                    if (type == 'section-task')
                    {                        
                        location.href =`/section-tasks`;  
                    }
                    if (type == 'section')
                    {                        
                        location.href =`/section-teams`;  
                    }
                    if (type == 'employees')
                    {
                      location.href =`/all-employees`;  
                    }
                    if (type == 'sections')
                    {
                        location.href =`/sections`;  
                    }
                }
                async function changestatus(task_id) {
                    status = document.getElementById("status"+task_id).value
                    const response = await fetch(`/api/tasks/${task_id}`, {method: "GET"});
                    const result = await response.json();
                    if (status == "DO ZROBIENIA")
                        status = "TODO"
                        if (status == "W TRAKCIE")
                        status = "IN_PROGRESS"
                        if (status == "DO SPRAWDZENIA")
                        status = "DONE"
                    if(result[0].status !="BLOCKED")
                    {
                    try {

                        const response = await fetch(`/api/tasks/${task_id}/status`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: status
                            })
                        });
                        
                        const result = await response.json();
                        generateContent()
                        return result;
                    } catch (error) {
                        throw error;
                        }
                    }
                    else
                    {
                        response_box = document.getElementById("response"+task_id)
                        response_box.style.display = "block"
                        response_box.innerHTML = `<strong>Tylko twój przełożony może zmienić status tego zadania!</strong>`;
                    }
                }
                async function generateContent() {
                    try {
                        
                        id = "{{session.get('myid', '')}}"
                        const response = await fetch(`/api/tasks/employee/${id}`, {method: "GET"});
                        const result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {
                            if (result[i].status == "TODO")
                                status = "DO ZROBIENIA"
                                if (result[i].status == "IN_PROGRESS")
                                status = "W TRAKCIE"
                                if (result[i].status == "DONE")
                                status = "DO SPRAWDZENIA"
                                if (result[i].status == "BLOCKED")
                                status = "GOTOWE"
                            block+="<div class='team-box'><p>Id zadania: "+result[i].id+"</p><p>Opis: "+result[i].description+"</p><p>Status: "+status
                            block+="</p><p>Data rozpoczęcia: "+result[i].start_date+"</p><p>Data zakończenia: "+result[i].end_date+"</p>";
                            block+="<select id ='status"+result[i].id+"'><option>DO ZROBIENIA</option><option>W TRAKCIE</option><option>DO SPRAWDZENIA</option></select><button onclick='changestatus("+result[i].id+")'>Zmień status</button>";
                            block+="<div id ='response"+result[i].id+"'></div></div>"
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>