<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Game Studio - API Demo</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body>
            <div class="container">
                <h1>🎮 Game Studio API - Demo</h1>
                <div class="endpoint-card">
                    <div class="team-box">
                        <h3>👥 Logowanie</h3>
                        <p>Wpisz dane logowania, by zwrócić informacje o pracowniku.</p>
                        <input type="text" id="login" placeholder="login" 
                               style="padding: 8px; width: 100px; margin-right: 10px;">
                        <input type="password" id="password" placeholder="password" 
                               style="padding: 8px; width: 100px; margin-right: 10px;">
                        <button onclick="testTeamEndpoint()">zaloguj się</button>
                        <div id="response3" class="response" style="margin-top: 15px;"></div>
                    </div>
                </div>
                
            </div>
            
            <script>
                async function testEndpoint(url, method, data = null, responseId) {
                    const options = {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    
                    if (data) {
                        options.body = JSON.stringify(data);
                    }
                    
                    try {
                        const response = await fetch(url, options);
                        const result = await response.json();
                        const responseDiv = document.getElementById(responseId);
                        if(result[0].status=="bad"){
                        
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Wpisano błędny login bądź hasło!</strong>`;
                        }
                        else{
                            first_name = result[0].first_name
                            last_name = result[0].last_name
                            id = result[0].id
                            if(result[0].position=="studioHead")
                            {
                            location.href =`/check-user/szefstudia/${id}`;
                            }
                            if(result[0].position=="teamManager")
                            {
                            location.href =`/check-user/kierownikzespolu/${id}`;
                            }
                            if(result[0].position=="sectionManager")
                            location.href =`/check-user/kierowniksekcji/${id}`;
                            if(result[0].position=="employee")
                            location.href =`/check-user/pracownik/${id}`;
                        }
                    } catch (error) {
                        const responseDiv = document.getElementById(responseId);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }

                
                async function testTeamEndpoint() {
                    const login = document.getElementById('login').value;
                    const password = document.getElementById('password').value;
                    if (!login) {
                        alert('Podaj login!');
                        return;
                    }
                    if (!password) {
                        alert('Podaj hasło!');
                        return;
                    }
                    
                    await testEndpoint(`/api/employees/employee/${login}/${password}`, 'GET', null, 'response3');
                }
            
            </script>
        </body>
        </html>