<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
            </style>
        </head>
        <body>
            <div class="container">
                <h1>Zarządzanie zadaniami</h1>
                
                <div class="endpoint-card">
                        <div class="team-box">
                        <button onclick="chooseOption('section')">Wyświetl zadania sekcji</button>
                        <button onclick="chooseOption('your')">Wyświetl swoje zadania</button>
                    </div>
                </div>
                
            </div>
            
            <script>
                async function chooseOption(type) {
                     const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };  
                        id = "{{id}}"
                        const response = await fetch(`/api/employees/${id}/context`, options);
                        const result = await response.json();
                        section_id = result.section_id;

                    if (type == 'section')
                    {
                        location.href =`/section-tasks/${section_id}/section`;  
                    }
                    if (type == 'your')
                    {
                        const id = "{{id}}"
                      location.href =`/your-tasks/${id}`;  
                    }

                }
            
            </script>
        </body>
        </html>