<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body>
            <div class="container">
                <h1>🎮 Game Studio API - Demo</h1>
                
                <!-- Endpoint 1: Pobierz wszystkich pracowników -->
                <div class="endpoint-card">
                    <div class="team-box">
                        <button onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                        <button onclick="chooseOption('task')">Wyświetl swoje zadania</button>
                    </div>
                </div>
                
            </div>
            
            <script>
                async function chooseOption(type) {
                    if (type == 'data')
                    {
                        const id = "{{id}}"
                        location.href =`/your-data/${id}`;  
                    }
                    if (type == 'task')
                    {
                        const id = "{{id}}"
                      location.href =`/your-tasks/${id}`;  
                    }

                }
            
            </script>
        </body>
        </html>