<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div class="container">
                <h1>Zadania sekcji nr {{id}}</h1>

                <div id="endpoint-card">

                </div>
            
                
            </div>
            
            <script>
                async function changestatus(task_id) {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    status = document.getElementById("status"+task_id).value
                    const response = await fetch(`/api/tasks/${task_id}`, options);
                    const result = await response.json();
                    if(result[0].status !="BLOCKED")
                    {
                    try {

                        const response = await fetch(`/api/tasks/${task_id}/status`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: status
                            })
                        });
                        
                        const result = await response.json();
                        generateContent()
                        return result;
                    } catch (error) {
                        throw error;
                        }
                    }
                    else
                    {
                        response_box = document.getElementById("response")
                        response_box.style.display = "block"
                        response_box.innerHTML = `<strong>Tylko kierownik sekcji może zmienić status tego zadania!</strong>`;
                    }
                }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    try {
                        
                        sectionid = "{{id}}"
                        const response = await fetch(`/api/tasks/section/${sectionid}`, options);
                        const result = await response.json();
                        block = ""
                        for (i = 0; i<result.length; i++)
                        {
                            block+="<div class='team-box'><p>Id zadania: "+result[i].id+"</p><p>Opis: "+result[i].description+"</p><p>Status: "+result[i].status+"</p>";
                            block+="<select id ='status"+result[i].id+"'><option>TODO</option><option>IN_PROGRESS</option><option>DONE</option></select><button onclick='changestatus("+result[i].id+")'>Zmień status</button>";
                            block+="<div id ='response'></div></div>"
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>