<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div class="container">
                <h1>Zespoły sekcji nr {{id}}</h1>

                <div id="endpoint-card">

                </div>
            
                
            </div>
            
            <script>

                async function redirect(type, id) {
                    if(type=="employee")
                        location.href =`/team/employees/${id}`;
                    if(type=="task")
                        location.href = `/team-tasks/${id}/section`;
                }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    try {
                        sectionid = "{{id}}"
                          
                        const response2 = await fetch(`/api/sections/${sectionid}/teams`, options);
                        const result2 = await response2.json();
                        block = ""
                        for (i = 0; i<result2.length; i++)
                        {
                            block+="<div class='team-box'><p>Id zespołu: "+result2[i].id+"</p><p>Nazwa zespołu: "+result2[i].name+"";
                            block+="<button onclick='redirect(`task`,"+result2[i].id+")'>Zarządzaj zadaniami</button><button onclick='redirect(`employee`,"+result2[i].id+")'>Zarządzaj pracownikami</button></p></div>";
                            
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>