<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel kierownika sekcji</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body>
            <div class="container">
                <h1>Panel szefa studia</h1>

                <div class="endpoint-card">
                    <div class="team-box">
                        <button onclick="chooseOption('data')">Wyświetl dane użytkownika</button>
                        <button onclick="chooseOption('employees')">Zarządzaj pracownikami</button>
                        <button onclick="chooseOption('sections')">Zarządzaj sekcjami</button>
                    </div>
                </div>
                
            </div>
            
            <script>
                
                async function chooseOption(type) {
                    if (type == 'data')
                    {
                        const id = "{{id}}"
                        location.href =`/your-data/${id}`;  
                    }
                    if (type == 'employees')
                    {
                        const id = "{{id}}"
                      location.href =`/allemployees`;  
                    }
                    if (type == 'sections')
                    {
                        location.href =`/sections`;  
                    }

                }
            
            </script>
        </body>
        </html>
