<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div class="container">
                <h1>Zarządzanie zespołem</h1>
                <div id="endpoint-card"></div>
                Numer pracownika: <input id = "number" type="number"><button onclick='addToTeam()'>Dodaj pracownika do zespołu</button>
                
            <div id = "result"></div>
            </div>
            
            <script>

                 async function addToTeam() {
            employeeId = document.getElementById("number").value
            if (!employeeId) {
                alert('Podaj ID pracownika!');
                return;
            }
             const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                        id = "{{id}}"
                        const response = await fetch(`/api/employees/${id}/context`, options);
                        const result = await response.json();
                        teamId = result.team_id;
            try {
                const response = await fetch('/api/team_memberships/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({employee_id: employeeId, team_id: teamId})
                });
                
                if (response.ok) {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: green;">Dodano pracownika ${employeeId} do zespołu ${teamId}</p>`;
                        generateContent();
                } else {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: red;">Błąd: ${response.status}</p>`;
                }
            } catch (error) {
                document.getElementById('result').innerHTML = 
                    `<p style="color: red;">Błąd: ${error.message}</p>`;
            }
        }
            async function removeEmployeeFromTeam(employeeId, teamId) {
            
                if (!confirm(`Usunąć pracownika z zespołu?`)) return;
            try {
    
                  const response = await fetch(`/api/team_memberships/${employeeId}/${teamId}`, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json'
            }
        });
                
                if (response.ok) {
                    const result = await response.json();
                    generateContent();
                }
            } catch (error) {
                console.error('Błąd:', error);
            }
        }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                        team_id = "{{id}}"

                    try {
                        
                        response2 = await fetch(`/api/employees/team/${team_id}`, options);
                        result2 = await response2.json();
                        block = ""
                        
                        for (i = 0; i<result2.length; i++)
                        {
                            block+="<div class='team-box'><p>Imię i nazwisko: "+result2[i].first_name+" "+result2[i].last_name+"<button onclick='removeEmployeeFromTeam("+result2[i].id+","+team_id+")'>Usuń z zespołu</button></p></div>";
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>