<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div class="container">
                <h1>Zadania pracowników zespołu nr {{id}}</h1>

                <div id="endpoint-card">

                </div>
                
            </div>
            
            <script>
                async function addTask() {
                    id = document.getElementById("employee").value;
                    team_task_id = document.getElementById("task").value;
                    tresc = document.getElementById("text").value;
                    team_id = "{{id}}";
                    try {
                const response = await fetch('/api/tasks/employee-task', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({description: tresc, team_member_id: id, team_task_id: team_task_id})
                });
                
                if (response.ok) {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: green;">Dodano zadanie dla pracownik nr ${id}</p>`;
                        generateContent();
                } else {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: red;">Błąd: ${response.status}</p>`;
                }
            } catch (error) {
                document.getElementById('result').innerHTML = 
                    `<p style="color: orange;">Błąd: ${error.message}</p>`;
            }
                }
                async function changestatus(task_id,done) {
                    
                    try {
                        if(done==0)
                        {status = document.getElementById("status"+task_id).value;}
                        else
                        {status = "BLOCKED"}
                        const response = await fetch(`/api/tasks/${task_id}/status`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: status
                            })
                        });
                        
                        const result = await response.json();
                        generateContent()
                        return result;
                    } catch (error) {
                        throw error;
                        }
                }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };  
                    try {
                        team_id = "{{id}}";
                        response = await fetch(`/api/employees/team/${team_id}`, options);
                        result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {

                            id = result[i].id;
                            response2 = await fetch(`/api/tasks/employee/${id}`, options);
                            result2 = await response2.json();
                         
                            for (j = 0; j<result2.length; j++)
                            {
                            block+="<div class='team-box'><p>"+id+" Imię i nazwisko: "+result[i].first_name+" "+result[i].last_name+"</p><p>Zadanie: "+result2[j].id+" "+result2[j].description+" status: "+result2[j].status;
                            block+="<p><select id ='status"+result2[j].id+"'><option>TODO</option><option>IN_PROGRESS</option><option>DONE</option></select><button onclick='changestatus("+result2[j].id+",0)'>Zmień status</button><button onclick='changestatus("+result2[j].id+",1)'>Zatwierdź zadanie</button></p></div>";
                            block+="<div id ='response'></div></div>"
                            }
                            result2 = []
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>