<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent()">
            <div class="container">
                <h1>Zadania zespołu nr {{id}}</h1>

                <div id="endpoint-card">

                </div>
            
                
            </div>
            
            <script>
                async function addTask() {
                    section_task_id = document.getElementById("task").value;
                    tresc = document.getElementById("text").value;
                    try {
                const response = await fetch('/api/tasks/team', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({description: tresc, team_id: team_id, section_task_id: section_task_id})
                });
                
                if (response.ok) {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: green;">Dodano zadanie dla pracownik nr ${id}</p>`;
                        generateContent();
                } else {
                    document.getElementById('result').innerHTML = 
                        `<p style="color: red;">Błąd: ${response.status}</p>`;
                }
            } catch (error) {
                document.getElementById('result').innerHTML = 
                    `<p style="color: orange;">Błąd: ${error.message}</p>`;
            }
            generateContent()
                }

                async function changestatus(task_id,done) {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    if(done==0)
                        {status = document.getElementById("status"+task_id).value;}
                        else
                        {status = "BLOCKED"}
                    const response = await fetch(`/api/tasks/${task_id}`, options);
                    const result = await response.json();
                    if("{{status}}" == "section" || result[0].status != "BLOCKED")
                    {
                    try {

                        const response = await fetch(`/api/tasks/${task_id}/status`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: status
                            })
                        });
                        
                        const result = await response.json();
                        generateContent()
                        return result;
                    } catch (error) {
                        throw error;
                        }
                    }
                    else
                    {
                        response_box = document.getElementById("response"+task_id)
                        response_box.style.display = "block"
                        response_box.innerHTML = `<strong>Tylko kierownik sekcji może zmienić status tego zadania!</strong>`;
                    }
                }
                async function generateContent() {
                    const options = {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    };
                    try {
                        
                        teamid = "{{id}}"
                        const response = await fetch(`/api/tasks/team/${teamid}`, options);
                        const result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {
                            block+="<div class='team-box'><p>Zadanie nr "+(i+1)+"</p><p>Opis: "+result[i].description+"</p><p>Status: "+result[i].status+"</p>";
                            block+="<select id ='status"+result[i].id+"'><option>TODO</option><option>IN_PROGRESS</option><option>DONE</option></select><button onclick='changestatus("+result[i].id+",0)'>Zmień status</button>";
                            if("{{status}}"=="section")
                            {
                                block+="<button onclick='changestatus("+result[i].id+",1)'>Zatwierdź zadanie</button>";
                            }
                            block+="<div id ='response"+result[i].id+"'></div></div>"
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');
                        if ("{{status}}"=="section")
                            block+="<p>Numer zadania sekcji: <input id = 'task' type='number'>Treść zadania: <input id = 'text' type='text'><button onclick='addTask()'>Dodaj zadanie dla zespołu</button></p><div id = 'result'></div>"
                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>