<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent(), generateNav()">
            <div id = "nav">

            </div>
            <div class="container">
                <h1>Zadania zespołu nr {{session.get('teamid', '')}}</h1>

                <div id="endpoint-card">

                </div>
                <div id = "task"></div>
                
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                 async function generateNav() {
                    position = "{{session.get('position', '')}}"
                    genNav(position);
                }
                async function chooseOption(type)
                {
                    position = "{{session.get('position', '')}}"
                    chooseOpt(type,position)
                }
            async function addTeamTask() {
                team_id = "{{session.get('teamid', '')}}"
                response = await fetch(`/api/teams/info/${team_id}`, {method: "GET"});
                result = await response.json();
                section_id = result[0].section_id
                response = await fetch(`/api/tasks/section/${section_id}`, {method: "GET"});
                result = await response.json();
                block = "<select style='width: 100%; padding: 5px' size = '5' name = 'tasks' id = 'sectionTask'>"
                for (i = 0; i<result.length; i++)
                {
                    block+="<option>"+result[i].description+"</option>"
                }
                block += "</select>"
                const modal = document.createElement('div');
                modal.className = "background-alert";
                
                const form = document.createElement('div');
                form.className = "form-alert";
                form.innerHTML = `
                    <h2 style="margin-top: 0; text-align: center">Dodaj zadanie</h2>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                    <div style="margin-bottom: 10px; width: 500px;">
                        <label>Opis:</label><br>
                        <textarea id="taskDesc" rows="4" style="width: 100%; resize: none; padding: 5px;"></textarea>
                    </div>
                    <div style="margin-bottom: 10px; width: 500px;">
                        <label>Zadanie sekcji:</label><br>
                        ${block}
                    </div>
                    <div style="display: flex; gap: 10px; margin-top: 20px;">
                        <button onclick="closeQuickForm()" class = "button-blue"">Anuluj</button>
                        <button onclick="submitQuickForm()" class = "button-green">Zapisz</button>
                    </div>
                    </div>
                `;
                
                modal.appendChild(form);
                document.body.appendChild(modal);
                

                window.closeQuickForm = function() {
                    document.body.removeChild(modal);
                };
                window.submitQuickForm = async function() {
                    const desc = document.getElementById('taskDesc').value;
                    const sectionTask = document.getElementById('sectionTask').value;
                    const team_id = "{{session.get('teamid', '')}}"
                    response = await fetch(`/api/teams/info/${team_id}`, {method: "GET"});
                    result = await response.json();
                    section_id = result[0].section_id
                    response = await fetch(`/api/tasks/section/${section_id}`, {method: "GET"});
                    result = await response.json();
                    for (i = 0; i<result.length; i++)
                    {
                        if(result[i].description == sectionTask)
                        {
                        sectionTaskId = result[i].id
                        }
                    }
                    if (!desc || !sectionTask) {
                        alert('Wypełnij wszystkie pola!');
                        return;
                    }
                    try {
                        const response = await fetch('/api/tasks/team', {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify({description: desc, team_id: team_id, section_task_id: sectionTaskId})
                            });
                        
                        if (response.ok) {
                            alert('Zadanie dodane!');
                            generateContent()
                            closeQuickForm();
                        } else {
                            alert('Błąd dodawania.');
                        }
                    } catch (error) {
                        alert('Błąd sieci.');
                    }
                };
    

                    modal.addEventListener('keydown', function(e) {
                        if (e.key === 'Escape') closeQuickForm();
                    });
                }
                async function changestatus(task_id,done) {
                    if(done==0)
                        {status = document.getElementById("status"+task_id).value;}
                        else
                        {status = "BLOCKED"}
                        if (status == "DO ZROBIENIA")
                        status = "TODO"
                        if (status == "W TRAKCIE")
                        status = "IN_PROGRESS"
                        if (status == "DO SPRAWDZENIA")
                        status = "DONE"
                    const response = await fetch(`/api/tasks/${task_id}`, {method: "GET"});
                    const result = await response.json();

                    if("{{session.get('position', '')}}" == "sectionManager" || "{{session.get('position', '')}}" == "studioHead" || result[0].status != "BLOCKED")
                    {
                    try {

                        const response = await fetch(`/api/tasks/${task_id}/status`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: status
                            })
                        });
                        
                        const result = await response.json();
                        generateContent()
                        return result;
                    } catch (error) {
                        throw error;
                        }
                    }
                    else
                    {
                        response_box = document.getElementById("response"+task_id)
                        response_box.style.display = "block"
                        response_box.innerHTML = `<strong>Tylko kierownik sekcji może zmienić status tego zadania!</strong>`;
                    }
                }
                async function generateContent() {
                    try {
                        
                        teamid = "{{session.get('teamid', '')}}"
                        const response = await fetch(`/api/tasks/team/${teamid}`, {method: "GET"});
                        const result = await response.json();
                        block = ""
                        
                        for (i = 0; i<result.length; i++)
                        {
                            if (result[i].status == "TODO")
                                status = "DO ZROBIENIA"
                                if (result[i].status == "IN_PROGRESS")
                                status = "W TRAKCIE"
                                if (result[i].status == "DONE")
                                status = "DO SPRAWDZENIA"
                                if (result[i].status == "BLOCKED")
                                status = "GOTOWE"
                            if(i%2 == 0)
                            {
                                block+="<div class='team-column'>"
                            }
                            block+="<div class='team-box'><p>Zadanie nr "+(i+1)+"</p><p>Opis: "+result[i].description+"</p><p>Status: "+status+"</p>";
                            block+="Zmień status: <select id ='status"+result[i].id+"'><option>DO ZROBIENIA</option><option>W TRAKCIE</option><option>DO SPRAWDZENIA</option></select><button class = 'button-change' onclick='changestatus("+result[i].id+",0)'>Potwierdź</button>";
                            if("{{session.get('position', '')}}" == "sectionManager" || "{{session.get('position', '')}}" == "studioHead")
                            {
                                block+="<p><button class = 'button-confirm' onclick='changestatus("+result[i].id+",1)'>Zatwierdź zadanie</button></p>";
                            }
                            block+="<div id ='response"+result[i].id+"'></div></div>"
                                 if(i%2 == 1)
                            {
                                block+="</div>"
                            }
                        }                       
                        const responseDiv = document.getElementById('endpoint-card');                 
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = block;
                        
                        if ("{{session.get('position', '')}}" == "sectionManager" || "{{session.get('position', '')}}" == "studioHead")
                            {
                            task = document.getElementById("task");
                            task.innerHTML = "<button class = 'button-add' onclick='addTeamTask()'>Dodaj zadanie zespołu</button>"
                            }
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>