<!DOCTYPE html>
        <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Panel pracownika</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        </head>
        <body onload="generateContent(), generateNav()">
            <div id = "nav">
            </div>
            <div class="container">
                <h1>Zespoły sekcji nr {{session.get('sectionid', '')}}</h1>

                <div id="endpoint-card">
                </div>
                <div id = "teams"><button class = 'button-add' onclick='addTeam()'>Dodaj zespół</button></div>
                
            </div>
            <script src = "{{ url_for('static',filename='js/func.js') }}"></script>
            <script>
                async function generateNav() {
                    position = "{{session.get('position', '')}}"
                    genNav(position);
                }
                async function chooseOption(type) {
                    id = "{{session.get('myid', '')}}"
                    
                        const response1 = await fetch(`/api/employees/${id}/context`, {method: "GET"});
                        const result1 = await response1.json();
                        sectionId = result1.section_id
                        saveSingleValue("sectionid", sectionId)
                        position = "{{session.get('position', '')}}"
                        chooseOpt(type,position)

                }
                async function redirect(type, teamId) {
                    saveSingleValue("teamid", teamId)
                    if(type=="employee")
                        location.href =`/team-employees`;
                    if(type=="task")
                        location.href = `/team-tasks`;
                }
                async function addTeam() {
                section_id = "{{session.get('sectionid', '')}}"
                response = await fetch(`/api/employees/`, {method: "GET"});
                result = await response.json();
                block = "<select style='width: 100%; padding: 5px' size = '5' name = 'tasks' id = 'teamManager'>"
                for (i = 0; i<result.length; i++)
                {
                    block+="<option>"+result[i].first_name+" "+result[i].last_name+"</option>"
                }
                block += "</select>"
                const modal = document.createElement('div');
                modal.className = "background-alert";
                
                const form = document.createElement('div');
                form.className = "form-alert";
                form.innerHTML = `
                    <h2 style="margin-top: 0; text-align: center">Dodaj zespół</h2>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                    <div style="margin-bottom: 10px; width: 300px;">
                        <label>Nazwa zespołu:</label><br>
                        <input type="text" id="teamName" style="width: 100%; padding: 5px;">
                    </div>
                    <div style="margin-bottom: 10px; width: 300px;">
                        <label>Manager zespołu:</label><br>
                        ${block}
                    </div>
                    <div style="display: flex; gap: 10px; margin-top: 20px;">
                        <button onclick="closeQuickForm()" class = "button-blue"">Anuluj</button>
                        <button onclick="submitQuickForm()" class = "button-green">Zapisz</button>
                    </div>
                    </div>
                `;
                
                modal.appendChild(form);
                document.body.appendChild(modal);
                

                window.closeQuickForm = function() {
                    document.body.removeChild(modal);
                };
                window.submitQuickForm = async function() {
                    const name = document.getElementById('teamName').value;
                    const manager = document.getElementById('teamManager').value.split(" ");
                    if (!name || !manager) {
                        alert('Wypełnij wszystkie pola!');
                        return;
                    }
                    response = await fetch(`/api/employees/`, {method: "GET"});
                    result = await response.json();
                    for (i = 0; i<result.length; i++)
                    {
                        if(result[i].first_name == manager[0] && result[i].last_name == manager[1])
                        {
                        manager_id = result[i].id
                        }
                    }
                    
                    try {
                        const response = await fetch('/api/teams/', {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify({name: name, section_id: section_id, manager_id: manager_id})
                            });
                        
                        if (response.ok) {
                            alert('Dodano zespół!');
                            generateContent()
                            closeQuickForm();
                        } else {
                            alert('Błąd dodawania.');
                        }
                    } catch (error) {
                        alert('Błąd sieci.');
                    }
                };
                    modal.addEventListener('keydown', function(e) {
                        if (e.key === 'Escape') closeQuickForm();
                    });
                }
                async function generateContent() {
                    try {
                        sectionid = "{{session.get('sectionid', '')}}"
                          
                        const response2 = await fetch(`/api/sections/${sectionid}/teams`, {method: "GET"});
                        const result2 = await response2.json();
                        block = ""
                        for (i = 0; i<result2.length; i++)
                        {
                            
                            manager_id = result2[i].manager_id
                            response3 = await fetch(`/api/employees/employee/${manager_id}`, {method: "GET"});
                            result3 = await response3.json();
                             if(i%2 == 0)
                            {
                                block+="<div class='team-column'>"
                            }
                            block+="<div class='team-box'><p>Zespół nr "+(i+1)+"</p><p>Nazwa zespołu: "+result2[i].name+"</p>"+"</p><p>Kierownik zespołu: "+result3[0].first_name+" "+result3[0].last_name+"</p>";
                            block+="<button class = 'button-choose' onclick='redirect(`task`,"+result2[i].id+")'>Zarządzaj zadaniami</button><button class = 'button-choose' onclick='redirect(`employee`,"+result2[i].id+")'>Zarządzaj pracownikami</button></p></div>";
                                 if(i%2 == 1)
                            {
                                block+="</div>"
                            }
                        }
                        
                        const responseDiv = document.getElementById('endpoint-card');

                        responseDiv.style.display = 'block';

                        responseDiv.innerHTML = block;
                    } catch (error) {
                        const responseDiv = document.getElementById(endpoint-card);
                        responseDiv.style.display = 'block';
                        responseDiv.innerHTML = `<strong>Błąd:</strong> ${error.message}`;
                    }
                }
            
                
            </script>
        </body>
        </html>